table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

.chart {
    margin: 30px;
}

.floatLeft {
    float: left;
}

.tableTitle {
    cursor: pointer;
}

.tableEvent_success {
    color: #2ca02c;
}

.tableEvent_error {
    color: #d62728;
}

.tableEvent_started {
    color: #0088CC;
}
